.fa-star-o {
	color: yellow;
}
.fa-star {
	color: yellow;
}
.survey-darkred {
	color: DarkRed;
}
.survey-red {
	color: red;
}
.survey-orange {
	color: orange;
}
.survey-green {
	color: #92D050;
}
.survey-darkgreen {
	color: DarkGreen;
}
.survey-blue {
	color: SkyBlue;
}
.survey-yellow {
	color: #FED009;
}